@tailwind base;
@tailwind components;
@tailwind utilities;

.minHeight {
  height: calc(100vh - 40px);
}

.loginShadow{
  box-shadow: 0px 0px 4px 0px #00000040;
}

.sideMenuHeight{
  height: calc(100vh - 104px);
}

.lectureCardShadow {
  box-shadow: 0px 0px 4px 0px #00000040;
}